@import 'tailwindcss';

:root {
	font-family:
		'Outfit',
		-apple-system,
		sans-serif;
	font-style: normal;
	color: var(--color-primary-fg);
	background-color: var(--color-primary-bg);
	line-height: 1;
	letter-spacing: -0.03rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--color-primary-fg: oklch(0.147 0.004 49.25);
	--color-primary-fg-inverted: oklch(1 0 0);
	--color-primary-bg: oklch(1 0 89.876);
	--color-secondary-fg: oklch(0.444 0.011 73.639);
	--color-secondary-bg: oklch(0.97 0.001 106.424);
	--color-accent-primary: oklch(0.6996 0.201959 44.4414);
	--color-accent-secondary: oklch(0.5542 0.19217 35.4846);
	--color-accent-primary-grade: oklch(0.6996 0.201959 44.4414 / 0%);
	--color-accent-secondary-grad: oklch(0.6996 0.201959 44.4414 / 8%);
	--color-border: oklch(0.9232 0.0026 48.72);
	--color-shadow: oklch(0.147 0.004 49.25 / 8%);
	--gradient-main: linear-gradient(
		180deg,
		transparent 0%,
		var(--color-accent-primary-grade) 50%,
		var(--color-accent-secondary-grad) 100%
	);

	--color-low: oklch(0.795 0.184 86.047);
	--color-optimal: oklch(0.723 0.219 149.579);
	--color-high: oklch(0.656 0.241 354.308);

	--radius-base: 16px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary-fg: oklch(0.9791 0 0);
		--color-primary-fg-inverted: oklch(0 0 0);
		--color-primary-bg: oklch(0.147 0.004 49.25);
		--color-secondary-fg: oklch(0.709 0.01 56.259);
		--color-secondary-bg: oklch(0.2161 0.0061 56.04);
		--color-border: oklch(0.2685 0.0063 34.3);
		--color-shadow: oklch(0.147 0.004 49.25 / 16%);
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	width: 100%;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 1rem;
}

@media (min-width: 800px) {
	main {
		padding: 2rem;
	}
}

section {
	width: 100%;
	max-width: 31.25rem;
}

@font-face {
	font-family: 'Outfit';
	src: url('/font/Outfit-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('/font/Outfit-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Outfit';
	src: url('/font/Outfit-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-display: swap;
}

h1 {
	font-size: 2rem;
	font-weight: 500;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
}

h3 {
	font-size: 1rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--color-secondary-fg);
}

label {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -0.03rem;
	line-height: 1;
}

button {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: -0.03rem;
	line-height: 1;
}

small {
	font-size: 0.85rem;
	font-weight: 400;
	line-height: 1.6;
}

a {
	color: var(--color-accent-primary);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 800px) {
	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}
}
